/*Cart*/

body{overflow: hidden;}

#cart-main{
    position: relative;
    height: 100vh;
    width: 100vw;
    top: 100px;
    left: 0px;
    /* height: fit-content; */
    padding: 30px;
    display: flex;
    color: black;
    flex-direction: column;

  }
  
  .cart-contents{
    position: relative;
    top: 0%;
    left: 20%;
    height: 65vh;
    width: 50vw;
    background-color: #DDDDDD;
    border-radius: 1em;
    text-align: center;
    padding: 20px;
  }
  
  .cart-item-card{
    height: 200px;
    width: 94%;
    display: flex;
    flex-direction: row;
    background-color: #f1eded;
    justify-content: space-between;
    padding: 10px 50px 10px 50px;
    margin: 30px;
    border-radius: 0.9em;
  }
  
  .cart-item-img{
    height: 180px;
    width: 220px;
    border-radius: 0.5em;
  }
  
  #chk-out-btn{
    height: 50px;
    width: 120px;
    border-radius: 0.3em;
    background-color: #00FFCA;
    color: #0A4D68;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  #chk-out-btn:hover{
    background-color: #088395;
    color: #fff;
    transition: 0.2s;
  }

  
  @media screen and (max-width: 1000px){
    /*Cart*/

  #cart-main{
    position: relative;
    top: 200px;
    padding: 0px;
    z-index: 999;
  }

  h1{
    display: none;
  }

  .cart-contents{
    /* top: 0px; */
    position: relative;
    height: fit-content;
    width: 99vw;
    top: 0px;
    left: 0px;
    padding: 20px;
    
  }

  .cart-item-card{
    margin: 10px;
    flex-direction: column;
    height: auto;
    z-index: 9999;
  }

  }