*{
  box-sizing: border-box;
  font-family: 'Imprima', sans-serif;
}

.outer-cont{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  height: fit-content;
  padding: 5px;
  text-align: center;
  justify-content: center;
}

.err-cont{
  display: flex;
  flex-direction: row;
  transform: rotateZ(-10deg);
  font-family: sans-serif;
}

.err-num{
  font-weight: bold;
  font-size: 15em;
  margin: 10px;
}

#s4{
  font-family: sans-serif;
  color: #088395;
}

#m0{
  color: #00FFCA;
}

#l4{
  font-family: sans-serif;
  color: #05BFDB;
}

#text-nt-fnd{
  font-size: 1.5em;
  font-weight: bold;
}




/*Order place successfully page*/
.circle{
  border-radius: 50%;
  height: 300px;
  width: 300px;
  align-self: center;
  background-color: #00FFCA;
}

#chk-mrk{
  position: relative;
  height: 200px;
  width: 200px;
  top: 20%;
  left: 0%;
}

.circle-red{
  border-radius: 50%;
  height: 300px;
  width: 300px;
  align-self: center;
  background-color: #FF6969;
}

#crs-mrk{
  position: relative;
  height: 200px;
  width: 200px;
  top: 20%;
  left: 0%;
}



/*Navbar*/

.navbar{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100px;
  width: 100%;
  background-color: #0A4D68;
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
}

.nav-items{
  display: flex;
  flex-direction: row;
}

.nav-list>.nav-items>li{
  margin: 0px 20px 0px 20px;
  list-style-type: none;
}

.nav-link{
  color: white;
}

#list-icon{
  display: none;
}


/*Search Bar*/

#search-bar{
  width: 200px;
  height: 20px;
  border-radius: 0.5em 0px 0px 0.5em;
  border: none;
  outline: none;
  background-color: #DDDDDD;
  margin-right: none;
  padding: 0px 5px 0px 5px;
}

#search-btn{
  margin-left: none;
  cursor: pointer;
  height: 20px;
  border: none;
  outline: none;
  border-radius: 0px 0.5em 0.5em 0px;
}





/*Footer*/

footer{
  min-height: 50px;
  width: 100vw;
  background-color: #0A4D68;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff ;
}

.details{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


@media screen and (max-width: 800px){

  #list-icon{
    display: block;
    height: 30px;
    width: 30px;
  }

  .navbar{
    flex-direction: column;
    justify-content: space-between;
  }



  .nav-list{
    flex-direction: column;
   
  }

  .nav-items{
    position: absolute;
    top: 100px;
    left: 0px;
    display: block;
    background-color: #0A4D68;
    width: 100vw;
    text-align: center;
  }

  footer{
    text-align: center;
    flex-direction: column;
    padding: none;
    justify-content: center;
  }

  .details{
    flex-direction: row;
  }
}



