*{
  box-sizing: border-box;
  font-family: 'Imprima', sans-serif;
}

/*Navbar*/

.navbar{
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100px;
  width: 100%;
  background-color: #0A4D68;
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
}

.nav-items{
  display: flex;
  flex-direction: row;
}

.nav-list>.nav-items>li{
  margin: 0px 20px 0px 20px;
  list-style-type: none;
}

.nav-link{
  color: #fff;
}

#list-icon{
  display: none;
}








/*User settings */



/*Footer*/

footer{
  min-height: 50px;
  width: 100vw;
  background-color: #0A4D68;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff ;
}

.details{
  display: flex;
  flex-direction: column;
  justify-content: center;
}







































@media screen and (max-width: 800px){

  #list-icon{
    display: block;
    height: 30px;
    width: 30px;
  }

  .navbar{
    flex-direction: column;
    justify-content: space-between;
  }
  

  .nav-list{
    flex-direction: column;
   
  }

  .nav-items{
    position: absolute;
    top: 100px;
    left: 0px;
    display: block;
    background-color: #0A4D68;
    width: 100vw;
    text-align: center;
  }

  
  /*User settings page*/


  footer{
    text-align: center;
    flex-direction: column;
    padding: none;
    justify-content: center;
  }

  .details{
    flex-direction: row;
  }
}



