*{
  box-sizing: border-box;
  font-family: 'Imprima', sans-serif;
}


body{
  overflow-y: auto !important;
  height: fit-content;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  background-color: black;
}

/*Navbar*/

.navbar{
  z-index: 10000;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100px;
  width: 100%;
  background-color: #0A4D68;
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
}

.nav-items{
  display: flex;
  flex-direction: row;
}

.nav-list>.nav-items>li{
  margin: 0px 20px 0px 20px;
  list-style-type: none;
}

.nav-link{
  color: #fff;
}

#list-icon{
  display: none;
}








/*User settings */



/*Footer*/

footer{
  position: absolute;
  min-height: 50px;
  width: 100vw;
  background-color: #0A4D68;
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff ;
  bottom: 0px;
  left: 0px;
}

.details{
  display: flex;
  flex-direction: column;
  justify-content: center;
}








/*Homepage*/
#homePage-main{
    display: flex;
    position: relative;
    left: 0px;
    top: 100px;
    flex-direction: column;
    padding: 0;
    width: 100vw;
    justify-content: space-evenly;
    overflow: scroll;
    height: fit-content;
}

.homepage-trending-products{
  height: 300px;
  width: 100%;
  background-color: rgb(20, 20, 20, 0.5);
  background-image: url('./assets/hero__cj6i78tzkp8i_large.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  align-self: center;
  padding: 10px;
}

.ctrl-btns{
  height: 300px;
  width: 50px;
  background-color: rgb(223, 223, 231, 0.3);
  cursor: pointer;
  border: none;
  outline: none;
}

.btns-cont{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.btns-homepage{
  height: 40px;
  width: 120px;
  border-radius: 0.3em;
  background-color: #00FFCA;
  cursor: pointer;
  font-weight: bold;
  border: none;
  outline: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.btns-homepage:hover{
  background-color: #088395;
  color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  transition: 0.1s;
}


.prod-container{
  position: relative;
  height: 470px;
  width: 380px;
  background-color: #ddd;
  margin: 10px 10px 10px 10px;
  padding: 10px;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.prod-card-price{
  font-weight: bold;
}

.prod-card-img{
  height: 200px;
  width: 99%;
  background-color: #0A4D68;
  align-self: center;
  border-radius: 0.5em;
}

.prod-card-desc{
  padding: 0px 50px 0px 50px;
}

.prod-card-desc>h2{
  align-self: center;
  color: #088395;
}

.othProd{
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px 0px 20px;
}

.cart-popup{
  height: 200px;
  width: 300px;
  border-radius: 1em;
  position: absolute;
  padding: 10px;
  top: 5%;
  left: 40%;
  border: 5px solid red;
  background-color: #fff;
  text-align: center;
  color: #13005A;
  font-weight: bold;
  display: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.cart-popup>p{
  position: relative;
  top: 10px;
  font-size: 0.9em;
}

.cart-popup>button{
  position: absolute;
  top: 0;
  right: 0;
  border-top-right-radius: 0.9em;
  background-color: #fff;
  cursor: pointer;
  border: none;
  font-weight: bold;
  margin: 10px;
}


#popup_img{
  height: 80px;
  width: 80px;
}

@media screen and (max-width: 800px){
	.othProd{
    flex-direction: column;
  }

  .prod-container{
    width: 95%;
  }
}




















@media screen and (max-width: 800px){

  #list-icon{
    display: block;
    height: 30px;
    width: 30px;
  }

  .navbar{
    flex-direction: column;
    justify-content: space-between;
    display: block;
    height: 50px;
  }
  

  .nav-list{
    flex-direction: column;
    display: block;
  }

  .nav-items{
    position: absolute;
    top: 50px;
    left: 0px;
    display: block;
    background-color: #0A4D68;
    width: 100vw;
    text-align: center;
  }

  
  /*User settings page*/


  footer{
    text-align: center;
    flex-direction: column;
    padding: none;
    justify-content: center;
    position: sticky;
    /* bottom: 0px; */
  }

  .details{
    flex-direction: row;
  }
}



